footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 65px;
    align-items: center;
    background-color: #4a4a4a;
    bottom: 0;
    font-weight: bold;
}

footer a {
    color: #fff;
    display: inline-flex;
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    padding-left: 10px;
}

@media screen and (max-width: 660px) {
    footer {
        flex-direction: column;
        min-height: 100px;
        position: relative;
    }

    footer .logo {
        position: absolute;
        left: 10px;
        top: 10px;
        height: 40px;
        opacity: .5;
    }
}