header {
    min-height: 100vh;
    display: flex;
    background: #fafafa;
}

header .img-wrap {
    flex: 4;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 50px;
}

header .roee-img {
    max-width: 100%;
    margin-bottom: -80px;
    object-fit: contain;
}

header .content {
    flex: 6;
    padding-top: 200px;
}

header .content h1 {
    font-size: 47px;
    font-family:;
    font-weight: bold;
    color: #007AB9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 3px;
    text-transform: uppercase;
}

header .content .subtitle {
    color: #000;
    font-weight: bold;
    font-size: 27px;
    padding-top: 10px;
}

header .quote {
    padding-right: 30%;
    font-size: 22px;
    padding-top: 20px;
}

header .quote .open,
header .quote .close {
    height: 24px;
    width: 26px;
    display: inline-block;
    background-image: url(../images/quote-open.svg);
    background-size: 100% 100%;
}

header .quote .open {
    margin-left: -9px;
    margin-top: -12px;
    margin-bottom: 7px;
    margin-right: -20px;
}

header .quote .close {
    transform: rotate(180deg);
    margin-left: -15px;
    margin-top: -14px;
    margin-bottom: 2px;
    margin-right: -15px;
}

header .quote text {
    position: relative;
    z-index: 1;
    line-height: 1.5;
    font-style: italic;
}

header .contact-wrap {
    padding: 20px 0px;
}

header .phone-wrap,
header .mail-wrap {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    margin-right: auto;
}

header .phone-wrap:hover,
header .mail-wrap:hover {
    text-decoration: underline;
}


header .phone-wrap span,
header .mail-wrap span {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

header .my-work-row {
    display: flex;
    align-items: center;
}

header button {
    height: 50px;
    border: 1px solid #007AB9;
    border-radius: 3px;
    width: 288px;
    font-size: 17px;
    color: #007AB9;
    padding-top: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    background-color: transparent;
}

header button:hover {
    background: #007AB9;
    color: #fff
}

header button:active {
    background: #004E76;
    color: #fff
}

header button:hover .rest,
header button .hover {
    display: none;
}

header button .rest,
header button:hover .hover {
    display: initial;
}

header button img {
    position: relative;
    bottom: 5px;
}

header .social-icons {
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 20px;
    /* min-width: 200px; */
}

header .social-icons a {
    transition: all 200ms ease-in-out;
}

header .social-icons a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 660px) {
    header {
        min-height: 100vh;
        flex-direction: column;
    }

    header .img-wrap {
        flex: unset;
        padding: 50px 20px 0px;
        display: initial;
        text-align: center;
    }

    header .img-wrap img {
        max-width: calc(100% - 100px);
        height: auto;
        margin: 0px 0px -200px;
    }

    header .content {
        padding: 50px 20px 30px;
        background-image: linear-gradient(rgba(250, 250, 250, 0) 0%, #fafafa 11%);
        text-align: center;
    }

    header .content h1 {
        font-size: 30px;
    }

    header .content .subtitle {
        font-size: 18px;
        padding: 5px 0px 10px;    
    }

    header .quote {
        padding-right: 0px;
        padding-top: 0px;
        font-size: 18px;
    }

    header .quote .open,
    header .quote .close {
        height: 19px;
        width: 20px;
    }

    header .quote .open {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: 6px;
        margin-right: -12px;
    }
    
    header .quote .close {
        transform: rotate(180deg);
        margin-left: -10px;
        margin-top: -14px;
        margin-bottom: 2px;
        margin-right: -15px;
    }

    header .contact-wrap {
        padding: 10px 0px;
    }

    header .my-work-row {
        flex-direction: column;
    }

    header button {
        width: 100%;
    }

    header .phone-wrap, header .mail-wrap {
        padding: 7px 0px;
    }

    header .social-icons {
        padding: 20px 0px 0px;
        justify-content: space-evenly;
        width: 100%;
    }
}